# Ignore generated or external results
autotuning/bootstrapping/notebooks/data/*
autotuning/data/csd/*
charge_noise/data
autotuning/bootstrapping/data
!autotuning/data/csd/custom

# MacOS Files
.DS_Store
*MACOSX*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Any logs from MaskRCNN
*logs

# Any .ipynb garbage
*.ipynb_checkpoints

# Any trained weights
*.pth
*.h5

# Any generated json
*vgg.json

# Ignore detectron2 training files
*output
