# Ignore generated or external results
data*
*csd*

# MacOS Files
.DS_Store
*MACOSX*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Any logs from MaskRCNN
*logs

# Any .ipynb garbage
*.ipynb_checkpoints

# Any trained weights
*.pth
*.h5

# Any generated json
*vgg.json

# Ignore detectron2 training files
*output
