# Ignore generated or external results
/data
/data_qflow_v2
/results

# MacOS Files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Any logs from MaskRCNN
*logs

# Any .ipynb garbage
*.ipynb_checkpoints

# Any trained weights
*.pth
*.h5

# Any generated json
*vgg.json